<nz-spin [nzSpinning]="isSpinning">
  <form nz-form [formGroup]="pwdForm" (ngSubmit)="submitForm()">
    <div nz-row nzGutter="24" nzJustify="center">
      <div nz-col [nzSpan]="24">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="24">原密码</nz-form-label>
          <nz-form-control [nzSm]="18" [nzXs]="24">
            <input required nz-input type="password" name="origin" formControlName="origin">
            <nz-form-explain *ngIf="pwdForm.get('origin').dirty && pwdForm.get('origin').errors">
              <ng-container *ngIf="pwdForm.get('origin').hasError('required')">
                此项必填!
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row nzGutter="24" nzJustify="center">
      <div nz-col [nzSpan]="24">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="24">新密码</nz-form-label>
          <nz-form-control [nzSm]="18" [nzXs]="24">
            <input required nz-input type="password" name="newPwd" formControlName="newPwd">
            <nz-form-explain *ngIf="pwdForm.get('newPwd').dirty && pwdForm.get('newPwd').errors">
              <ng-container *ngIf="pwdForm.get('newPwd').hasError('required')">
                此项必填!
              </ng-container>
              <ng-container *ngIf="pwdForm.get('newPwd').hasError('minlength')">
                位数至少为6位!
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row nzGutter="24" nzJustify="center">
      <div nz-col [nzSpan]="24">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="24">确认新密码</nz-form-label>
          <nz-form-control [nzSm]="18" [nzXs]="24">
            <input required nz-input type="password" name="checkPassword" formControlName="checkPassword">
            <nz-form-explain *ngIf="pwdForm.get('checkPassword').dirty && pwdForm.get('checkPassword').errors">
              <ng-container *ngIf="pwdForm.get('checkPassword').hasError('required')">
                此项必填!
              </ng-container>
              <ng-container *ngIf="pwdForm.get('checkPassword').hasError('confirmPassWord')">
                两次密码不一致！
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row nzGutter="24" nzJustify="center">
      <div nz-col [nzSpan]="10" [nzOffset]="14">
        <button nz-button nzType="primary" [disabled]="!pwdForm.valid">
          <i nz-icon type="save"></i>确认
        </button>
        <button nz-button nzType="default" (click)="closeForm($event)">
            <i nz-icon type="close"></i>取消
        </button>
      </div>
    </div>
  </form>
</nz-spin>