<div nz-row *ngIf="supportSearch">
  <nz-input-group [nzSuffix]="suffixIcon">
    <input type="text" nz-input placeholder="搜索" [(ngModel)]="searchValue">
  </nz-input-group>
  <ng-template #suffixIcon>
      <i nz-icon type="search"></i>
  </ng-template>
</div>
<div nz-row>
  <nz-tree #gaoxinTree class="text-left " [nzData]="nodes" [nzAsyncData]="asyncData" [nzMultiple]="multiple"
    [nzExpandedKeys]="defaultExpandedKeys" [nzCheckedKeys]="defaultSelectedKeys" [nzSearchValue]="searchValue"
    (nzClick)="mouseChange('click',$event)">
    <ng-template #nzTreeTemplate let-node >
      <span class="custom-node" [class.active]="node.isSelected" [class.matched]="node.isMatched">
        <span>
            <i class="fa fa-folder icon-state-warning" *ngIf="!node.isExpanded"></i>
            <i class="fa fa-folder-open icon-state-warning" *ngIf="node.isExpanded"></i>
            {{node.title}}
        </span>
      </span>
    </ng-template>
  </nz-tree>
</div>
